@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .nav-hover-btn {
    @apply relative uppercase after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
  }
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #000000 #f1f1f1; /* Firefox */
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px !important; /* WebKit */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 10px;
    border: 2px solid #f1f1f1 !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
}
